<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<header>
    <div class="container-fluid wrap">
        <div class="row">
            <div class="col-sm-10">
                <H1>Table</H1>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popup">Add</button>
                <!-- popup -->
                <div id="popup" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- popup content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Выбор фигуры и размеров</h4>
                            </div>
                            <div class="modal-body">
                                <input type="text" class="form-control" id="name" placeholder="Enter name" maxlength="20">
                                <label for="type">Choose figure type</label>
                                <select class="form-control" id="type" name="type">
                                    <option value="1">Circle</option>
                                    <option value="2">Triangle</option>
                                    <option value="3">Rectangle</option>
                                </select>
                                <div class="form-group">
                                    <input type="number" class="form-control" id="x" placeholder="X" maxlength="10">
                                    <input type="number" class="form-control" id="y" placeholder="Y" maxlength="10">
                                    <input type="number" class="form-control" style="display: none" id="width" placeholder="Width" maxlength="10">
                                    <input type="number" class="form-control" style="display: none" id="height" placeholder="Height" maxlength="10">
                                    <input type="number" class="form-control" id="radius" placeholder="Radius" maxlength="10">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                <button type="button" class="btn btn-primary" id="addbtn" data-dismiss="modal">Добавить</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- popup end -->
            </div>
        </div>
    </div>
</header>
<div class="wrap">
    <table class="table table-bordered table-striped" id="mainTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Axis X</th>
                <th>Axis Y</th>
                <th>Width</th>
                <th>Height</th>
                <th>Radius</th>
                <th>Perimeter</th>
                <th>Area</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
</body>
</html>